 
.register{  
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 20 0 0 450px;  
        padding: 80px;  
        background: #D2B48C;  
        border-radius: 10px ;  
        text-align: center;   
}  

.header{
	width: 100%;
	background: #D2B48C;
	text-align: left; 
	margin-top: 0;
}

.menu{
	width: 100%;
	background:#D2B48C;
	text-align: left; 
	height: 40px;
}

h2{  
    text-align: center;  
    color: black;  
    padding: 20px;  
}  
label{  
    color: black;  
    font-size: 17px;  
}  

button{  
    width: 100px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}
.footer{
	width: 100%;
	background:#D2B48C;
	text-align: center;
	height: 70px; 
	bottom: 0px;
}  


.error{
	 text-align: center;
    color: red;
}
.success{
	text-align: center;
    color: green;
}